# Models
models/*.pkl
*.pkl

# Backup
.git-backup/
*.jar

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
.Python
env/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data temporales
*.tmp
*.temp
